div {
    border: 1px solid black;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 50% auto;

}

.eins {
    grid-column: 2/ -1;
}

.zwei {
    grid-row: 1 / -1;
}