div {
    border: 1px solid black;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: auto auto auto;
    grid-template-rows: 4% 4% auto 12%;
}


.full-row {
    grid-column: 1 / -1;
}