html,
body {
    height: 100%;
}

html,
body,
p {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.grid-container {
    display: grid;

    gap: 10px;
    padding: 10px;
    grid-template-columns: 60px 2fr 1fr;
    grid-template-rows: 200px 300px 300px 120px;
    grid-template-areas:
        "header header header"
        "sidebar content1 content2"
        "sidebar content3 content4"
        "footer footer footer";
}

.grid-elem {
    padding: 10px;
    border: 1px black solid;
    background-color: green;
    color: white;
}

.grid-header {
    grid-area: header;

}

.grid-sidebar {
    grid-area: sidebar;
}

.grid-content1 {
    grid-area: content1;

}

.grid-content2 {
    display: none;
    grid-area: content2;
}

.grid-content3 {
    grid-area: content3;
}

.hund {
    width: 200px;

}

.grid-content4 {
    grid-area: content4;
}

.grid-footer {
    grid-area: footer;
}